$primary-color: rgb(238, 232, 220);
$secondary-color: rgb(134, 205, 218);
$font-color: rgb(82, 82, 82);


html, body{
    background-color: $primary-color;
    padding: 0em 4em 0em 4em;
}
.landing{
    color: $font-color;
    height: 100vh;
    text-align: center;
    
}
.navbar{
    
}
.profile{
    text-align: center;
    height: 40vh;
    background-color: $primary-color;
    ul {
        text-align: center;
        display: inline-flex;
        list-style-type: none;
        li{
            margin-right: 10px;
        }
    }
    .contactIcons{
        font-size: 2em;
    }
}