.profile{
    text-align: center;
    height: 40vh;
    margin-top: 25%;
    ul {
        text-align: center;
        list-style-type: none;
        font-size: 17px;
        li{
            margin-right: 10px;
        }
    }
    .contactIcons{
        font-size: 2em;
    }
}