.section {
    margin-bottom: $section-gutter;
  
    &__title {
      margin: 0 0 7px 0;
      padding: 0;
      color: $secondary-color;
      border-bottom: 1px solid #e2e2e2;
    }
    &__projects{
      display: grid;
      grid-row-start: row2-start;
      grid-column-end: row2-end;
    }
    &__internship{
      display: grid;
      grid-row-start: row3-start;
      grid-column-end: row3-end;
    }
    &__skills{
      display: grid;
      grid-row-start: row4-start;
      grid-column-end: row4-end;
    }
    &__education{
      display: grid;
      grid-row-start: row5-start;
      grid-column-end: row5-end;
    }
    &__work{
      display: grid;
      grid-row-start: row6-start;
      grid-column-end: row6-end;
    }
  }
  
  .section-content{
    display: grid;
  }
  
  .section-box-title {
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    span {
      font-weight: 300;
      font-size: 17px;
    }
  }
  
  
  .box-list {
    display: block;
    /* width: 50%; */
    grid-auto-columns: auto auto;
    .card{
      position: relative;
      display: inline-grid;
      margin: 5px;
      width: 32rem;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
    }
    .__box {
      display: grid;
      height: 15em;
      float: left;
      padding: 10px;
    }
    &__about{
      font-size: 15px;
      span{
        font-weight: 700;
      }
    }
  }